.dragon { 
    background-color: #000;
    color: #F3F3F3 ;  
    min-height: 100vh;
    overflow-x: hidden; 
    position: relative;
}
.dragon .video-background{
    z-index: 0;
    position: absolute; 
    left: 0;
    width: 100%; 
}

.dragon .upper { 
    z-index: 1;
}
.dragon h1 {
    color: rgb(245, 245, 245);
    font-size: 5rem;
    margin-bottom: 3rem;
}

.dragon h1 span {  
    background-image:  url(../../img/universe.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: -85% 45%;
    color: #F3F3F3 ;
    text-shadow: 0 0 45px rgba(153, 153, 153, 0.192), 0 0 30px #666, -1px -6px 7px rgba(255, 255, 255, 0.267);
}
 .dragon-shuttle {  
        width: 100vw;
        height: 130vh; 
         background: url(../../img/dragon_trunk_total.png)  ;
        background-size: cover; 
        position: relative;

 }

 .dragon-shuttle .container { 
     position: absolute;
     left: 75%;
     top: 50%;
     transform: translate(-50%,-50%);
     width: 30%;
 }

 .dragon-shuttle .container h1 { 
     font-size: 6rem;
     margin-bottom: 0;
     text-align: left;
    }
    
    .dragon-shuttle .container p{ 
        font-size: 1.2rem;
        margin-bottom: 4rem;
        text-align: left;

 }
    .dragon-shuttle .container .overview{ 
        display: flex;
        border-bottom: 1px solid #fefefe;
        justify-content: space-between;
        align-items: center;
    }
    .dragon-shuttle .container .overview .title{ 
        text-transform: uppercase;
        margin :1.5rem 0 ;
    }

    .dragon-shuttle .container .overview .size{ 
        display: flex; 
        align-items: center;
        justify-content: center;
        flex: end; 
        margin :  0 0 ;
    }
    .dragon-shuttle .container .overview .size p{
        margin: auto 0;
    }

    .dragon-shuttle .container .overview .size .us{ 
        font-size: 1rem; 
        color: rgb(156, 156, 156);
        margin: auto 1px;
    }

 .dragon-shuttle video { 
      max-width: 100%;
      height: 100%;
     object-fit: cover;
 }





@media (min-aspect-ratio: 16/9) {
    #shuttlevideo {
        max-width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #shuttlevideo {
        width: auto;
        height: 100%;
    }
}

/* on mobile we do not play the video for perfomance reason !*/
/* we simply display static image of the shuttle*/
@media (max-width : 780px) {
    #shuttlevideo {
        display: none;
    }
 
}