.Starship { 
    background-color: #000;
    color: #F3F3F3 ;  
    min-height: 100vh;
    overflow-x: hidden; 
    position: relative;
}
.Starship .video-background{
    z-index: 0;
    position: absolute; 
    left: 0;
    width: 100%; 
}

.Starship .upper { 
    z-index: 1;
}
.Starship h1 {
    color: rgb(245, 245, 245);
    font-size: 5rem;
    margin-bottom: 3rem;
}

.Starship h1 span {   
    color: rgb(235, 62, 62);
}
 .Starship-shuttle {  
        width: 100vw;
        height: 130vh; 
         background: url(../../img/starship.png)  ;
        background-size: cover; 
        position: relative;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

 }

 .Starship-shuttle .container { 
     position: absolute;
     right: 15%;
     top: 10%;
     transform: translate(-50%,-50%);
     width: 40%;
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
 }

 .Starship-shuttle .container h1 { 
     font-size: 6rem;
     padding-bottom: 2vh;
     text-align: left;
    }
    
    .Starship-shuttle .container p{ 
        font-size: 1.2rem;
        margin-bottom: 3rem;
        text-align: left; 
 }   
    .Starship-shuttle .container span{ 
        color: rgb(235, 62, 62);
 }   
/* on mobile we do not play the video for perfomance reason !*/
/* we simply display static image of the shuttle*/
@media (max-width : 780px) {
    #shuttlevideo {
        display: none;
    }
 
}